.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container.header__container {
  padding-top: 20px;
}

.header__logo {
  width: 55px;
  height: 55px;
}

.header__info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header__language {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  width: 50px;
  border-right: 1px solid #fff;
  color: #fff;
}

.header__xbox,
.header__steam {
  cursor: pointer;
  transition: scale ease-in 0.1s;
}

.header__xbox:hover,
.header__steam:hover {
  scale: 1.2;
}

.header__toogle {
  width: 30px;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  display: none;
}

@media (max-width: 990px) {
  .header__nav {
    display: none;
  }

  .header__toogle {
    display: block;
  }
}

@media (max-width: 570px) {
  .header__info {
    gap: 10px;
  }

  .header__logo {
    width: 45px;
    height: 45px;
  }

  .header__xbox {
    display: none;
  }

  .header__steam {
    display: none;
  }
}
