@import url('./header.css');
@import url('./nav.css');
@import url('./preview.css');
@import url('./about.css');
@import url('./rule.css');
@import url('./requirements.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
}

.container {
  padding: 50px 120px;
  height: 100vh;
}

.btn {
  color: #1A1917;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  background-color: #FFB548;
  border: none;
  cursor: pointer;
  transition: background-color ease-in .1s;
}

.btn:hover {
  background-color: #ff9900;
}

@media (max-width: 1500px) {
  .container {
    padding: 40px 100px;
  }
}

@media (max-width: 1290px) {
  .container {
    padding: 30px 70px;
  }
}

@media (max-width: 990px) {
  .container {
    padding: 20px 50px;
  }
}

@media (max-width: 570px) {
  .container {
    padding: 20px;
  }
}

