@import url('./header.css');
@import url('./nav.css');
@import url('./preview.css');
@import url('./about.css');
@import url('./rule.css');
@import url('./requirements.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
}

.container {
  padding: 20px 120px;
  height: 100vh;
}

.btn {
  border: none;
  cursor: pointer;
}
