.nav__bar {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.nav__item {
  list-style: none;
  text-transform: uppercase;
  margin-right: 35px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
  transition: color ease-out .2s, border ease-in .1s;
}

.nav__item:hover {
  border-bottom: 1px solid #FFB548;
  color: rgb(255, 249, 209);
}

.nav__item:last-child {
  margin-right: 0;
}
