.requirements__container {
  background-image: url('../assets/images/bg/bg_4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.req__subtitle {
  overflow: hidden;
  white-space: nowrap;
  max-width: 350px;
  margin: 100px auto 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.req__subtitle.scroll {
  animation: typing 2s steps(100, end);
}

.req__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 80px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.req__title.scroll {
  animation: anim-flipX 3s ease-in-out 1;
}

.req__table {
  display: grid;
  grid-template-columns: 56% 44%;
  grid-template-areas: 'A B' 'C D' 'F F';
  max-width: 580px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  scale: 0;
  transition: scale .8s ease-in-out;
}

.req__table.scroll {
  scale: 1;
}

.req__os {
  padding: 20px;
  grid-area: A;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.req__processor {
  padding: 20px;
  grid-area: B;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.req__memory {
  padding: 20px;
  grid-area: C;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.req__storage {
  padding: 20px;
  grid-area: D;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.req__graphics {
  padding: 20px;
  grid-area: F;
}

.req__char-title {
  text-transform: uppercase;
  color: #ffb548;
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-weight: 400;
}

.req__char-description {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 1290px) {
  .req__subtitle {
    margin-top: 60px;
  }

  .req__title {
    font-size: 65px;
    margin-bottom: 50px;
  }
}

@media (max-width: 990px) {
  .req__subtitle {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .req__title {
    font-size: 50px;
    margin-bottom: 30px;
  }

  .req__os,
  .req__processor,
  .req__memory,
  .req__storage,
  .req__graphics {
    padding: 15px;
  }
}

@media (max-width: 570px) {
  .req__subtitle {
    font-size: 18px;
  }

  .req__title {
    font-size: 33px;
  }

  .req__char-title {
    font-size: 22px;
  }

  .req__char-description {
    font-size: 16px;
  }

  .req__os,
  .req__processor,
  .req__memory,
  .req__storage,
  .req__graphics {
    padding: 10px;
  }
}
