.rule {
  background-image: url('../assets/images/bg_3.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.rule__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: 15%;
  max-width: 370px;
  width: 100%;
}

.rule__subtitle {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 25px;
  color: #fff;
}

.rule__title {
  font-size: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 50px;
  color: #fff;
}

.rule__accordion {
  padding-left: 30px;
}

.rule__item {
  margin-bottom: 20px;
}

.rule:last-child {
  margin-bottom: 0;
}

.rule__item-title {
  position: relative;
  font-size: 36px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
  color: #ffb548;
  cursor: pointer;
  transition: color ease-in-out 0.1s;
}

.rule__item-title:hover {
  color: #ff9900;
}

.rule__item-title:after {
  content: url('../assets/images/ellipse.svg');
  position: absolute;
  top: -8px;
  left: -40px;
}

.rule__item.active .rule__item-title:after {
  content: url('../assets/images/ellipse_full.svg');
}

.rule__item.active .rule__item__description {
  display: block;
}

.rule__item__description {
  display: none;
  font-size: 18px;
  text-align: justify;
  margin: 0;
  padding-left: 15px;
  color: #fff;
  transition: display linear 2s;
}

@media (max-width: 1500px) {
  .rule__container {
    margin-right: 5%;
  }
}

@media (max-width: 1290px) {
  .rule__subtitle {
    margin-top: 0;
  }

  .rule__title {
    margin-bottom: 30px;
    font-size: 65px;
  }
}

@media (max-width: 990px) {
  .rule__subtitle {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .rule__title {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .rule__item-title {
    font-size: 30px;
  }
}

@media (max-width: 570px) {
  .rule {
    background-position: 40%;
  }
  
  .rule__container {
    max-width: 250px;
    padding: 0;
    margin-right: 0;
  }

  .rule__item {
    margin-bottom: 15px;
  }

  .rule__subtitle {
    font-size: 18px;
  }

  .rule__item-title:after {
    top: 0;
    left: -30px;
  }

  .rule__title {
    font-size: 33px;
  }

  .rule__item-title {
    font-size: 26px;
  }

  .rule__item__description {
    font-size: 16px;
  }
}
