.subscribe__container {
  background-image: url('../assets/images/bg/bg_6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 1000px;
}

.subscribe__block {
  margin-left: auto;
  max-width: 660px;
  width: 100%;
  z-index: 10;
}

.subscribe__container:after {
  content: '';
  background-image: url('../assets/images/bg/bg_6_1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  max-width: 440px;
  max-height: 690px;
  position: absolute;
  top: 10%;
  left: 20%;
}

.subscribe__subtitle {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 200px;
  margin-bottom: 15px;
}

.subscribe__title {
  color: #fff;
  font-size: 80px;
  font-weight: 500;
  letter-spacing: 3px;
}

.subscribe__description {
  line-height: 1.2;
  color: #fff;
  font-size: 18px;
  text-align: justify;
  font-weight: 500;
}

.subscribe__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subscribe__input {
  padding: 15px 20px;
  outline: none;
  border: 0;
  max-width: 350px;
  width: 100%;
  font-size: 18px;
  background-color: #1a1a1b;
  color: #ffb548;
  border-radius: 5px;
}

.subscribe__input::placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease-in-out;
}

.subscribe__input:focus-visible {
  border: 1px solid #ff9900;
}

.subscribe__input:focus-visible::placeholder {
  text-indent: 400px;
}

.subscribe__btn {
  width: 100%;
  max-width: 245px;
  padding: 20px 60px;
}

@media (max-width: 1500px) {
  .subscribe__container:after {
    left: 10%;
  }
}

@media (max-width: 1290px) {
  .subscribe__title {
    font-size: 65px;
  }

  .subscribe__container:after {
    left: -120px;
  }
}

@media (max-width: 990px) {
  .subscribe__block {
    max-width: 400px;
    margin-left: 100px;
    margin-bottom: 30px;
  }

  .subscribe__container:after {
    opacity: 0.8;
    max-width: 300px;
    top: 5%;
  }

  .subscribe__title {
    font-size: 50px;
  }

  .subscribe__subtitle {
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 10px;
  }

  .subscribe__description {
    margin-top: 10px;
  }

  .subscribe__form {
    flex-direction: column;
  }

  .subscribe__input {
    max-width: 300px;
    margin-bottom: 20px;
  }

  .subscribe__btn {
    padding: 20px 40px;
    width: 100%;
    max-width: 250px;
  }
}

@media (max-width: 570px) {
  .subscribe__block {
    margin-left: 0;
  }

  .subscribe__subtitle {
    margin-top: 30px;
    font-size: 18px;
    margin-left: 80px;
  }

  .subscribe__title {
    font-size: 33px;
    margin-left: 80px;
  }

  .subscribe__description {
    margin-left: 100px;
    font-size: 16px;
  }

  .subscribe__container:after {
    max-width: 230px;
    top: 3%;
  }

  .subscribe__btn {
    max-width: 350px;
  }
}
